<section class="footer">
    <div class="wrapper">
        <div class="first-column">
            <ul>
                <li class="column-title">Categories</li>
                <li *ngFor="let item of categories; let i = index">
                    <a [routerLink]="['/', item]" (click)="categoryItemClick(i)">{{item}}</a>
                </li>
            </ul>
        </div>
        <div class="second-column">
            <ul>
                <li class="column-title">Store</li>
                <li class="select">
                    <label for="country"><i class="material-icons">public</i></label>
                    <select name="country" id="country" [(ngModel)]="selectedCurrency" (change)="setCurrency()">
                            <option value="INR">India</option>
                            <option value="USD">United States</option>
                            <option value="AUD">Australia</option>
                            <option value="GBP">United Kingdom</option>
                        </select>
                </li>
                <li *ngIf="loggedIn">
                    <div class="icon-list">
                        <a routerLink="/wishlist" (click)="featuresItemClick('wishlist')">
                            <span><i class="material-icons">turned_in</i></span>
                            <span>Wishlist</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="icon-list">
                        <a routerLink="/cart" (click)="featuresItemClick('cart')">
                            <span><i class="material-icons">shopping_cart</i></span>
                            <span class="number-badge" *ngIf="cartNumber > 0">{{cartNumber}}</span>
                            <span>Cart</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="icon-list" *ngIf="!loggedIn">
                        <a routerLink="/login">
                            <span><i class="material-icons">person</i></span>
                            <span>Login</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="icon-list" *ngIf="loggedIn">
                        <a routerLink="/user">
                            <span><i class="material-icons" *ngIf="userAvatar === ''">person</i></span>
                            <span class="user-avatar" [ngStyle]="{'background-image': 'url(' + userAvatar +')'}" *ngIf="userAvatar !== ''"></span>
                            <span *ngIf="userName !== ''">{{userName | wordExtract}}</span>
                        </a>
                    </div>
                </li>
                <li *ngIf="loggedIn">
                    <div class="icon-list">
                        <a (click)="logout()">
                            <span><i class="material-icons">exit_to_app</i></span>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="third-column">
            <ul>
                <li class="column-title">Other</li>
                <li *ngFor="let item of contact; let i = index">
                    <a [routerLink]="['/', item]" (click)="contactItemClick(i)">{{item}}</a>
                </li>
            </ul>
        </div>
        <div class="fourth-column">
            <ul>
                <li class="column-title">Information</li>
                <li *ngFor="let item of information; let i = index">
                    <a [routerLink]="['/', item.url]" (click)="contactItemClick(i)">{{item.name}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="social-wrapper">
        <p class="social-text">Follow us on</p>
        <div class="social-icons">
            <p class="icon">
                <a href="https://facebook.com/telanganaswagruhafoods" target="_blank">
                    <svg class="facebook" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2500 2500" style="enable-background:new 0 0 2500 2500;" xml:space="preserve">
                    <path class="f-i" d="M2362,2500c76.2,0,138-61.8,138-138V138c0-76.2-61.8-138-138-138H138C61.8,0,0,61.8,0,138v2224
                        c0,76.2,61.8,138,138,138L2362,2500L2362,2500z"/>
                    <path class="f-t" d="M1725,2500v-968.1h325l48.7-377.3h-373.6V913.7c0-109.2,30.3-183.7,187-183.7l199.8-0.1V392.4
                        c-34.6-4.6-153.2-14.9-291.1-14.9c-288.1,0-485.3,175.8-485.3,498.7v278.2h-325.8v377.3h325.8V2500L1725,2500L1725,2500z"/>
                    </svg>
                </a>
                <span>Facebook</span>
            </p>

            <p class="icon">
                <a href="https://twitter.com/TGSwagruhaFoods" target="_blank">
                    <svg class="twitter" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 410.2 410.2" style="enable-background:new 0 0 410.2 410.2;" xml:space="preserve">
                            <path class="t-i" d="M403.6,74.2c-9.1,4-18.6,7.2-28.3,9.5c10.7-10.2,18.7-22.9,23.3-37.1l0,0c1.3-4.1-3.1-7.6-6.8-5.4l0,0
                                c-13.5,8-28,14-43.2,17.9c-0.9,0.2-1.8,0.3-2.7,0.3c-2.8,0-5.5-1-7.6-2.9c-16.2-14.2-36.9-22.1-58.5-22.1c-9.3,0-18.8,1.5-28,4.3
                                c-28.7,8.9-50.8,32.5-57.7,61.7c-2.6,10.9-3.3,21.9-2.1,32.6c0.1,1.2-0.4,2.1-0.8,2.5c-0.6,0.7-1.5,1.1-2.4,1.1c-0.1,0-0.2,0-0.3,0
                                c-62.8-5.8-119.4-36.1-159.4-85.1l0,0c-2-2.5-6-2.2-7.6,0.6l0,0c-7.8,13.4-12,28.8-12,44.5c0,24,9.6,46.6,26.4,63
                                c-7-1.7-13.8-4.3-20.2-7.8l0,0c-3.1-1.7-6.8,0.5-6.9,4l0,0c-0.4,35.6,20.4,67.3,51.6,81.6c-0.6,0-1.3,0-1.9,0c-5,0-10-0.5-14.9-1.4
                                l0,0c-3.4-0.7-6.3,2.6-5.3,6l0,0c10.1,31.7,37.4,55,70,60.3c-27.1,18.2-58.6,27.8-91.4,27.8l-10.2,0c-3.2,0-5.8,2.1-6.6,5.1
                                c-0.8,3,0.7,6.2,3.4,7.7c37,21.5,79.1,32.9,122,32.9c37.5,0,72.5-7.4,104.2-22.1c29-13.4,54.7-32.7,76.3-57.1
                                c20.1-22.8,35.8-49.1,46.7-78.2c10.4-27.7,15.9-57.3,15.9-85.6v-1.3c0-4.5,2.1-8.8,5.6-11.7c13.6-11,25.4-24,35.2-38.6l0,0
                                C411.9,77.1,407.9,72.3,403.6,74.2L403.6,74.2z"/>
                        </svg>
                </a>
                <span>Twitter</span>
            </p>

            <p class="icon">
                <a href="https://instagram.com/telanganaswagruhafoods" target="_blank">
                    <svg class="instagram" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 551 551" style="enable-background:new 0 0 551 551;" xml:space="preserve">
                            <g>
                                
                                    <linearGradient id="SVGID_1" gradientUnits="userSpaceOnUse" x1="275.517" y1="787.43" x2="275.517" y2="242.28" gradientTransform="matrix(1 0 0 1 0 -238)">
                                    <stop  offset="0" style="stop-color:#E09B3D"/>
                                    <stop  offset="0.3" style="stop-color:#C74C4D"/>
                                    <stop  offset="0.6" style="stop-color:#C21975"/>
                                    <stop  offset="1" style="stop-color:#7024C4"/>
                                    </linearGradient>
                                    <linearGradient id="SVGID_H" gradientUnits="userSpaceOnUse" x1="275.517" y1="787.43" x2="275.517" y2="242.28" gradientTransform="matrix(1 0 0 1 0 -238)">
                                            <stop  offset="0" style="stop-color:#ff0151"/>
                                            <stop  offset="0.3" style="stop-color:#C21975"/>
                                            <stop  offset="0.6" style="stop-color:#C74C4D"/>
                                            <stop  offset="1" style="stop-color:#f51685"/>
                                    </linearGradient>
                                <path class="i-0" d="M386.9,0H164.2C73.6,0,0,73.6,0,164.2v222.7C0,477.4,73.6,551,164.2,551h222.7c90.5,0,164.2-73.6,164.2-164.2
                                    V164.2C551,73.6,477.4,0,386.9,0z M495.6,386.9c0,60-48.7,108.7-108.7,108.7H164.2c-60,0-108.7-48.7-108.7-108.7V164.2
                                    c0-60,48.7-108.7,108.7-108.7h222.7c60,0,108.7,48.7,108.7,108.7L495.6,386.9L495.6,386.9z"/>
                                
                                    <linearGradient id="SVGID_2" gradientUnits="userSpaceOnUse" x1="275.517" y1="787.43" x2="275.517" y2="242.28" gradientTransform="matrix(1 0 0 1 0 -238)">
                                    <stop  offset="0" style="stop-color:#E09B3D"/>
                                    <stop  offset="0.3" style="stop-color:#C74C4D"/>
                                    <stop  offset="0.6" style="stop-color:#C21975"/>
                                    <stop  offset="1" style="stop-color:#7024C4"/>
                                </linearGradient>
                                <path class="i-1" d="M275.5,133C196.9,133,133,196.9,133,275.5S196.9,418,275.5,418S418,354.1,418,275.5S354.1,133,275.5,133z
                                    M275.5,362.6c-48.1,0-87.1-39-87.1-87.1s39-87.1,87.1-87.1c48.1,0,87.1,39,87.1,87.1C362.6,323.6,323.6,362.6,275.5,362.6z"/>
                                
                                    <linearGradient id="SVGID_3" gradientUnits="userSpaceOnUse" x1="418.31" y1="787.43" x2="418.31" y2="242.28" gradientTransform="matrix(1 0 0 1 0 -238)">
                                    <stop  offset="0" style="stop-color:#E09B3D"/>
                                    <stop  offset="0.3" style="stop-color:#C74C4D"/>
                                    <stop  offset="0.6" style="stop-color:#C21975"/>
                                    <stop  offset="1" style="stop-color:#7024C4"/>
                                </linearGradient>
                                <circle class="i-c" cx="418.3" cy="134.1" r="34.1"/>
                            </g>
                        </svg>
                </a>
                <span>Instagram</span>
            </p>

            <p class="icon">
                <a href="https://www.google.com/maps/place/Telangana+Swagruha+Foods/@18.461392,79.1181494,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xae75723b5b64ff0!8m2!3d18.461392!4d79.1203381" target="_blank">
                    <svg class="google-b" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path class="g-i" d="M481.2,201.5v248.4c0,16.5-13.4,29.9-29.9,29.9H60.7c-16.5,0-29.9-13.4-29.9-29.9V201.5
                                c9.3,5.5,20.2,8.7,31.8,8.7c15.8,0,30.4-5.9,41.5-15.7c11.1-9.8,18.7-23.6,20.6-39.3l2.1-17.5c-0.3,2.6-0.5,5.3-0.5,7.9
                                c0,35.2,28.6,64.7,64.8,64.7c35.8,0,64.8-29,64.8-64.8c0,35.8,29,64.8,64.8,64.8c36.2,0,64.8-29.5,64.8-64.7c0-2.6-0.2-5.1-0.5-7.8
                                l2.1,17.5c1.9,15.7,9.5,29.5,20.6,39.3c11.1,9.8,25.7,15.7,41.5,15.7C461,210.1,471.9,207,481.2,201.5z"/>
                            <path class="g-s" d="M481.2,250.4v30c-9.3,5.5-20.2,8.7-31.8,8.7c-15.8,0-30.4-5.9-41.5-15.7c-11.1-9.8-18.7-23.6-20.6-39.3
                                l-2.1-17.5c0.3,2.6,0.5,5.2,0.5,7.8c0,35.2-28.6,64.7-64.8,64.7c-35.8,0-64.8-29-64.8-64.8c0,35.8-29,64.8-64.8,64.8
                                c-36.2,0-64.8-29.5-64.8-64.7c0-2.6,0.2-5.2,0.5-7.9l-2.1,17.5c-1.9,15.7-9.5,29.5-20.6,39.3c-11.1,9.8-25.7,15.7-41.5,15.7
                                c-11.6,0-22.5-3.2-31.8-8.7v-30c9.3,5.5,20.2,8.7,31.8,8.7c15.8,0,30.4-5.9,41.5-15.7c11.1-9.8,18.7-23.6,20.6-39.3l2.1-17.5
                                c-0.3,2.6-0.5,5.3-0.5,7.9c0,35.2,28.6,64.7,64.8,64.7c35.8,0,64.8-29,64.8-64.8c0,35.8,29,64.8,64.8,64.8
                                c36.2,0,64.8-29.5,64.8-64.7c0-2.6-0.2-5.1-0.5-7.8l2.1,17.5c1.9,15.7,9.5,29.5,20.6,39.3c11.1,9.8,25.7,15.7,41.5,15.7
                                C461,259.1,471.9,255.9,481.2,250.4z"/>
                            <g>
                                <path class="g-h-3" d="M385.2,188.5c0.3,2.6,0.5,5.2,0.5,7.8c0,35.2-28.6,64.7-64.8,64.7c-35.8,0-64.8-29-64.8-64.8l-30.9-75.4
                                    L256,32.2h110.1l33.1,88.8l-14.1,67.4C385.2,188.4,385.2,188.5,385.2,188.5z"/>
                                <path class="g-h-1" d="M145.9,32.2l28.7,97.4l-47.7,58.7v0l-2.1,17.6c-1.9,15.7-9.5,29.5-20.6,39.3C93,255.1,78.4,261,62.6,261
                                    c-11.6,0-22.5-3.2-31.8-8.7v0C12.3,241.4,0,221.4,0,198.4v-4.6l42.6-146c2.7-9.3,11.2-15.6,20.9-15.6H145.9z"/>
                            </g>
                            <g>
                                <path class="g-h-4" d="M481.2,252.3c-9.3,5.5-20.2,8.7-31.8,8.7c-15.8,0-30.4-5.9-41.5-15.7c-11.1-9.8-18.7-23.6-20.6-39.3l-2.1-17.5
                                    c0-0.1,0-0.1,0-0.2l-19-156.2h82.4c9.7,0,18.1,6.4,20.9,15.6l42.6,146v4.6C512,221.4,499.6,241.4,481.2,252.3z"/>
                                <path class="g-h-2" d="M256,32.2v164c0,35.8-29,64.8-64.8,64.8c-36.2,0-64.8-29.5-64.8-64.7c0-2.6,0.2-5.2,0.5-7.9c0,0,0-0.1,0-0.1
                                    l19-156.2L256,32.2L256,32.2z"/>
                            </g>
                            <path class="g-t" d="M384.7,445.5c-35.5,0-64.3-28.9-64.3-64.3s28.9-64.3,64.3-64.3c17.2,0,33.4,6.7,45.5,18.8l-13.6,13.6
                                c-8.5-8.5-19.8-13.2-31.9-13.2c-24.8,0-45.1,20.2-45.1,45.1c0,24.8,20.2,45.1,45.1,45.1c21.5,0,39.6-15.2,44-35.4h-44v-19.3h64.3
                                v9.6C449.1,416.6,420.2,445.5,384.7,445.5z"/>
                        </svg>
                </a>
                <span>Google My Business</span>
            </p>
        </div>
    </div>

    <p class="copyrights">&copy;&nbsp;2018&nbsp;Telangana&nbsp;Swagruha&nbsp;Foods&nbsp;|&nbsp;All&nbsp;Rights&nbsp;Reserved.</p>
</section>