<div class="page-content">
    <div class="wrapper">
        <div class="side-content">
            <div>
                <app-item [itemData]="itemData" [showLoader]="showLoader"></app-item>
            </div>
        </div>
        <div class="main-content">
            <img src="https://firebasestorage.googleapis.com/v0/b/telanga-swagruha-foods-test.appspot.com/o/images%2Fpage_under_construction.svg?alt=media&token=0163b789-c0d8-448c-b960-1069d5df1c88" alt="page-under-construction" class="img-responsive">
        </div>
    </div>
</div>