.categories {
    padding: 60px 25px 40px 25px;
}

.cards {
    text-align: center;
    padding: 20px;
}

.browse-items {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    width: 300px;
}

.card-item {
    font-family: 'Mont Medium', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #dcdcdc;
    color: #353839;
    padding: 20px;
}

.card-item:hover {
    cursor: pointer;
    border: none;
    background: rgb(254, 1, 116);
    background: linear-gradient(90deg, rgba(254, 1, 116, 1) 0%, rgba(255, 81, 81, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(254, 1, 116, 1) 0%, rgba(255, 81, 81, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(254, 1, 116, 1) 0%, rgba(255, 81, 81, 1) 100%);
    background: -o-linear-gradient(90deg, rgba(254, 1, 116, 1) 0%, rgba(255, 81, 81, 1) 100%);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    color: #f5f5f5;
}

.testimonials {
    padding: 40px 20px;
}

@media only screen and (max-width: 767px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
    }
}