<div class="home-content">
    <section>
        <div class="carousel-wrapper">
            <app-carousel (showFilter)="filterCondition($event)"></app-carousel>
        </div>
    </section>

    <section class="categories" *ngIf="showFilter">
        <h2 class="title wow fade-in-bottom">Shop by Categories</h2>
        <div class="cards">
            <p class="card-item wow fade-in-bottom" *ngFor="let item of filters; let i = index" (click)="filterClick(item.name, i)">{{item.name}}</p>
        </div>
    </section>

    <section>
        <app-popular></app-popular>
        <div class="browse-items" *ngIf="showFilter">
            <p class="card-item wow fade-in-bottom" (click)="shopAll()">Browse All Items</p>
        </div>
    </section>

    <section class="testimonials">
        <app-testimonials></app-testimonials>
    </section>
</div>