<div class="wrapper">
    <header>
        <app-site-header></app-site-header>
    </header>
    <main>
        <div *ngIf="!isConnected">
            <span class="no-internet">No Internet Connection! You are viewing offline site!</span>
        </div>
        <router-outlet (deactivate)="onDeactivate()"></router-outlet>
        <div class="floating-cart animated scale-in-center" *ngIf="cartNumber > 0" (click)="cartClick()">
            <p><i class="material-icons">shopping_cart</i></p>
            <p class="number">{{cartNumber}}</p>
        </div>
    </main>
    <footer>
        <app-site-footer></app-site-footer>
    </footer>
</div>