/* offline message */

.no-internet {
    margin-top: -10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #f5f5f5;
    color: #808080;
    padding: 10px;
    font-family: Courier, monospace;
    font-size: 18px;
}

.floating-cart {
    bottom: 20px;
    right: 10px;
    position: fixed;
    z-index: 1;
    color: #000;
    display: flex;
    flex-flow: row nowrap;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.floating-cart .material-icons {
    font-size: 32px;
}

.floating-cart .number {
    font-family: 'Mont Regular', sans-serif;
    background-color: #f5f5f5;
    color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -10px;
    padding: 2px 4px;
    text-align: center;
    font-size: 12px;
}


/* wrapper */

@supports (display: grid) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
    }
}


/* for IE 10, 11 or later versions */

@supports not (display: grid) {
    .wrapper {
        display: -ms-grid;
        overflow-x: hidden;
        min-height: 100vh;
        -ms-grid-rows: 1fr 2fr 1fr;
        -ms-grid-columns: 100%;
    }
}

@media only screen and (max-width: 767px) {
    main {
        padding-top: 60px;
    }
}

@media only screen and (min-width: 768px) {
    .floating-cart {
        display: none;
    }
    main {
        padding-top: 60px;
    }
}