<div *ngIf="!showForgotPasswordForm">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>

        <!-- email -->
        <div class="form-group">
            <input class="form-input" type="email" id="email" placeholder="Email" autocomplete='email' ngModel required name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        </div>
        <div [hidden]="email.valid || !email.touched">
            <span class="error" *ngIf="email.hasError('pattern') || email.dirty">Please, enter a valid email!</span>
            <span class="error" [hidden]="!email.hasError('required')">Email is required!</span>
        </div>

        <!-- password -->
        <div class="form-group">
            <input class="form-input" type="password" id="password" placeholder="Password" autocomplete="current-password" ngModel minlength="6" required name="password" #password="ngModel">
        </div>
        <div [hidden]="password.valid || !password.touched">
            <span class="error" [hidden]="!password.hasError('minlength')">Password should be atleast 6 characters!</span>
            <span class="error" [hidden]="!password.hasError('required')">Password is required!</span>
        </div>

        <!-- forget password & stay logged in-->
        <div class="features">
            <p (click)="showFP()">Forgot password?</p>
        </div>

        <!-- error messages -->
        <span class="error" *ngIf="errorMessage !== ''">{{errorMessage}}</span>
        <span class="error" *ngIf="verifyAccountMessage !== ''">{{verifyAccountMessage}}</span>
        <p class="help-text" (click)="verifyEmail()" *ngIf="verifyAccountMessage !== ''">
            Resend Verification Link?
        </p>
        <span class="error" *ngIf="resendLinkMessage !== ''">{{resendLinkMessage}}</span>

        <!-- button -->
        <div class="form-button-group">
            <button type="submit" class="submit-button" [disabled]="!f.valid">Login</button>
        </div>
    </form>
</div>

<div *ngIf="showForgotPasswordForm">
    <app-forgot-password></app-forgot-password>
    <p class="help-text" (click)="showFP()">Just kidding. I know my password.</p>
</div>